{% extends 'base.html' %}

{% block content %}

<h2></h2>

<form method="POST" action="{{ url_for('add_cost') }}">
  <label for="category">Category</label><br>
  <select id="category" name="category" required>
    <option value="Charging">Charging</option>
    <option value="Maintenance">Maintenance</option>
    <option value="Insurance">Insurance</option>
  </select><br><br>

  <label for="description">Description</label><br>
  <input type="text" id="description" name="description" required><br><br>

  <label for="cost">Cost [EUR]</label><br>
  <input type="text" id="cost" name="cost" required><br><br>

  <label for="date">Date:</label><br>
  <input type="datetime-local" id="date" name="date" required><br><br>

  <input type="submit" value="Submit">
</form>

{% if add_cost %}
<form method="POST">
    <button type="submit" class="btn btn-danger" name="delete_button">Delete selected rows</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Select</th>
                <th>ID</th>
                <th>Category</th>
                <th>Description</th>
                <th>Cost [EUR]</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for row in add_cost %}
            <tr>
                <td><input type="checkbox" name="delete" value="{{ row[0] }}"></td>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

{% endif %}

{% endblock %}
