{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <title>Flask Web App</title>
  </head>
  <body>
    <div class="tile">
      <h2>Break even point [date]</h2>
      <p>{{ tile1 }}</p>
    </div>
    <div class="tile">
      <h2>Annual target [kWh]</h2>
      <p>{{ tile2 }}</p>
    </div>
    <div class="tile">
      <h2>Grid feed accumulated [EUR]</h2>
      <p>{{ tile3 }}</p>
    </div>
    <div class="tile">
      <h2>Own Consumption accumulated [EUR]</h2>
      <p>{{ tile4 }}</p>
    </div>
    <div>
      <p>Click here to manually input data:</p>
      <a href="/manual_input">Manual Input</a>
  </div>
  
  </body>
</html>

{% endblock %}
